include docs/*
recursive-include plonesocial/auth/rpx *.zpt *.pt *.cpt *.metadata *.cpy *.vpy
recursive-include plonesocial/auth/rpx/profiles *.xml
recursive-include plonesocial/auth/rpx *.zcml *.gif *.txt *.png
recursive-include plonesocial/auth/rpx *.js *.css *.pot *.mo *.po
