#user-input {
	display:block;
}

#login-container {
	text-align: center;
	margin: 0px auto;
	text-align: center;
	width: 850px;
}

#login-container fieldset, form {
	display:inline;
    height:375px;
	margin: 0 !important;
	text-align:left;
}

#rpx-register-container {
	margin-right:10px;
	text-align:left;
	float: left;
}

#rpx-login-container {
	margin-left:10px;
    text-align:left;
    float: left;
}
