#user-input {
	display:block;
}

#login-container {
	text-align: center;
	margin: 0px auto;
	text-align: center;
	width: 420px;
}

#login-container fieldset, form {
	display:inline;
	margin: 0 !important;
	text-align:left;
}

#rpx-register-container {
	margin-right:10px;
	text-align:left;
}

#rpx-login-container {
	margin-left:10px;
    text-align:left;
}

#personaltools-join {
	display: none;
}
